ion-content{
    background-color: var(--ion-item-background);
}
/* BOTTOM MENU */

.background-color{
    background-color: var(--ion-toolbar-background);
    
}
.icon-menu{
    color: var(--ion-color-dark);
}

/* HOME */ 

.container-home{
    margin-top: -10px;
}
.error-home{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px 10px;
}
.error-card{
    display: flex;
    flex-direction: row;
}
.error-span{
    margin-left: 10px;
}
.icon-error{
    width: 100px;
    height: 40px;
}
.title-category{
    padding: 12px 10px;
}

/* POST STYLE */
.post-card{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 12px 10px;
    border-radius: 12px;
    background-color:  var(--ion-color-primary);
    box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
    position: relative;
}
.user-info{
    padding: 2px 0 0 40px;
    position: relative;
    margin-bottom: -16px;

}
.user-info img{
    margin-left: -40px;
    margin-top: 4px;
    position: absolute;
    border-radius: 40px;
}
.username-size{
    font-size: 16px;
    margin-left: 24px;
    font-weight: bold;
    width: 50%;
    margin-top: 10px;
    color: var(--ion-color-dark);
}
.post-text{
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
}
.user-actions-container{
    width: 50%;
}
.user-actions{
    position: absolute;
    right: 0;
    margin-top: -46px;
}
.icon-user-actions{
    width: 24px;
    height: 24px;
}
.post-date{
   margin-left: 24px;
   margin-top: -10px;
}
.user-link{
    width: 50%;
}
.card-footer{
    margin-top: 28px;
    padding: 12px 10px;
    border-top: 1px solid #eaeaf5;
}
.like-active{
    width: 40px;
    height: 26px;
    fill: red;
	transform: scale(1);
	animation: pulse 0.5s ;
}
/* LIKE ANIMATION AND STYLES */ 
@keyframes pulse {
	0% {
		transform: scale(0.55);
	}
    50%{
        transform: scale(0.25);
    }
	100% {
		transform: scale(1);
	}
}
.like-deactivated{
    width: 40px;
    height: 26px;
    color: red;
}
.span-likes{
    position: absolute;
    margin-top: 5px;
}
.option{
    width: 35%;
}
.post-box:last-child{
    margin-bottom: 100px;
}
